.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.content {
  width: min-content;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 8px;
}